$header-font-max-small-width: 480px;
$header-animation-width: 750px;
$readability-width: 575px;
$min-column-width: 225px;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #E0E0E0;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 1px 1px 1px #EEEEEE;
}

ul, li {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.fit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.layout.vertical {
  flex-direction: column;
}

.layout.stretch {
  align-items: stretch;
}

.layout.wrap {
  flex-wrap: wrap;
}

.layout.around {
  justify-content: space-around;
}

.flex {
  flex: 1 1 $min-column-width;
}

.flex-2 {
  flex: 2 1 $min-column-width * 2;
}

.flex-3 {
  flex: 3 1 $min-column-width * 3;
}

.smaller-text {
  font-size: 40%;
  font-family: 'Roboto Condensed';
  padding-left: .5em;
}

.fancy-title {
  margin: 0;
  position: absolute;
  width: 5em;
  top: .75em;
  left: -.15em;
  
  font-family: 'Cookie', cursive;
  font-size: 96px;
  line-height: .75em;
  color: white;

  transform: rotate(-15deg) scale(2);
  transform-origin: 0 0;
  text-shadow: 1px 1px 2px black;

  transition: all .5s ease-in;

  @media only screen and (max-width: $header-animation-width) {
    left: .25em;
    font-size: 96px;
    transform: scale(1);
    top: 0;
  }

  @media only screen and (max-width: $header-font-max-small-width) {
    left: .25em;
    font-size: 20vw;
    transform: scale(1);
    top: 0;
  }
}

.overview {
  position: relative;
  height: 20em;
  max-height: 20em;

  background-color: #376596;
  background-size: cover;
  background-repeat: none;
  background-position: top;
  background-image: url(/images/large-town-view.jpg);

  transition: max-height .5s ease-in;

  @media only screen and (max-width: $header-animation-width) {
    max-height: 10em;
  }
}

.standard-footer {
  background-color: #F57F17;
  text-align: center;
  font-size: 85%;
  padding: .25em 0;
}

.article-headline {
  margin-bottom: 0;
  margin-top: .25em;

  text-transform: uppercase;
}

.article-date {
  margin-top: 0;
  margin-bottom: .25em;

  font-size: 1em;
}

.card {
  margin: 0.5em;
  padding: 0.5em;

  background-color: #FAFAFA;
  box-shadow: 0px 1px 2px #BDBDBD;
}

img.resp {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: $readability-width) {
  .layout.readable-flex {
    display: block;

    > * {
      width: auto;
    }
  }
}
