html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #E0E0E0; }

body {
  overflow: hidden; }

main {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 1px 1px 1px #EEEEEE; }

ul, li {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.fit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap: no-wrap;
          flex-wrap: no-wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start; }

.layout.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.layout.stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.layout.wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.layout.around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 225px;
      -ms-flex: 1 1 225px;
          flex: 1 1 225px; }

.flex-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2 1 450px;
      -ms-flex: 2 1 450px;
          flex: 2 1 450px; }

.flex-3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3 1 675px;
      -ms-flex: 3 1 675px;
          flex: 3 1 675px; }

.smaller-text {
  font-size: 40%;
  font-family: 'Roboto Condensed';
  padding-left: .5em; }

.fancy-title {
  margin: 0;
  position: absolute;
  width: 5em;
  top: .75em;
  left: -.15em;
  font-family: 'Cookie', cursive;
  font-size: 96px;
  line-height: .75em;
  color: white;
  -webkit-transform: rotate(-15deg) scale(2);
      -ms-transform: rotate(-15deg) scale(2);
          transform: rotate(-15deg) scale(2);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  text-shadow: 1px 1px 2px black;
  -webkit-transition: all 0.5s ease-in;
          transition: all 0.5s ease-in; }
  @media only screen and (max-width: 750px) {
    .fancy-title {
      left: .25em;
      font-size: 96px;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      top: 0; } }
  @media only screen and (max-width: 480px) {
    .fancy-title {
      left: .25em;
      font-size: 20vw;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      top: 0; } }

.overview {
  position: relative;
  height: 20em;
  max-height: 20em;
  background-color: #376596;
  background-size: cover;
  background-repeat: none;
  background-position: top;
  background-image: url(/images/large-town-view.jpg);
  -webkit-transition: max-height 0.5s ease-in;
          transition: max-height 0.5s ease-in; }
  @media only screen and (max-width: 750px) {
    .overview {
      max-height: 10em; } }

.standard-footer {
  background-color: #F57F17;
  text-align: center;
  font-size: 85%;
  padding: .25em 0; }

.article-headline {
  margin-bottom: 0;
  margin-top: .25em;
  text-transform: uppercase; }

.article-date {
  margin-top: 0;
  margin-bottom: .25em;
  font-size: 1em; }

.card {
  margin: 0.5em;
  padding: 0.5em;
  background-color: #FAFAFA;
  box-shadow: 0px 1px 2px #BDBDBD; }

img.resp {
  width: 100%;
  height: auto; }

@media only screen and (max-width: 575px) {
  .layout.readable-flex {
    display: block; }
    .layout.readable-flex > * {
      width: auto; } }
